zed/.config/zed/conversations
zed/.config/zed/prompts
.DS_Store
.aider*
.env
helix/.config/helix/grammars
helix/.config/helix/runtime
helix/.config/helix/queries
helix/.config/helix/tutor
pi/.pi/agent/sessions
pi/.pi/agent/auth.json
pi/.pi/agent/pi-crash.log
